<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="/fa/css/all.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path('home_page') }}"> <i class="fas fa-thumbtack"></i> Remember-Me </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('all_memos_page') }}"><i class="fas fa-stream"></i> Tous les mémos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="far fa-lightbulb"></i> Mes mémos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-share-alt"></i> Partagés avec moi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-folder-plus"></i> Nouveau Mémo</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0 mr-5 pr-5">
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item dropdown mx-auto">
                                <a class="nav-link dropdown-toggle" href="#" id="compte" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user}}
                                </a>
                                <div class="dropdown-menu col-lg-12 px-1" style="min-width: 200px" role="menu" aria-labelledby="compte">
                                    <a class="dropdown-item" href="#"><i class="far fa-lightbulb"></i>  Mes mémos</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-share-alt"></i> Partagés avec moi</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-folder-plus"></i> nouveau mémo</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="btn btn-outline-danger w-100 mx-auto" href="{{path('app_logout')}}"><i class="fas fa-power-off"></i> Déconnexion</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="btn btn-outline-light mx-1 my-2 my-sm-0" href="{{ path('app_login') }}">Se lancer</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-info mx-1 my-2 my-sm-0" href="{{ path('app_login') }}" >Se connecter</a>
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </nav>

            {% block body %}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                {% block body_content %} {% endblock %}
                            </div>
                            <hr>

                        </div>
                    </div>
            {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script defer src="/fa/js/all.js"></script>
        {% endblock %}
    </body>
</html>
